html{
    font-size: 10px
}

body{
    font-size: 10px
}

.imageCard{
    height: 100px;
}

.limitText{
    text-overflow:ellipsis;
}

.ui.messageLight{
    background: #ffffff;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px rgba(252, 252, 252, 0.22) inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px rgba(252, 252, 252, 0.22) inset, 0 0 0 0 transparent;
}

.overflowHiden{
    overflow:  auto;
}


/*
SIGN UP
*/
.ui.button.button-validate-sign-up {
	background-color: #b6d7a8 !important;
	position: relative;
	float: right;
}

.error-password-sign-up{
	color: red;
}

/*
SIGN IN
*/
.ui.button.button-validate-sign-in {
	background-color: #b6d7a8;
	margin:0 auto;
	display:block;
}

.ui.button.button-cancel-sign-in {
	margin:0 auto;
	display:block;
}

/*
Card List
*/

.cardNotSelected{
    display:none;
}

.cardSelected{
    display:inline-block;
}